.popover-container {
  display: block;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  transform: translateX(-98%);
  border-radius: 8px;
}
h6 {
  text-align: left;
}

.cancel-color {
  background-color: #f3f3f9;
}