.popover-container {
  display: block;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  transform: translateX(-98%);
  border-radius: 8px;
}
h6 {
  text-align: left;
}

.cancel-color {
  background-color: #f3f3f9;
}
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 300px; /* Adjust as needed */
}

.form-row {
  display: flex;
  margin-bottom: 10px; /* Adjust as needed */
}

.form-label {
  flex: 1;
  text-align: left;
  padding-right: 10px; /* Adjust as needed */
}

.form-input {
  flex: 2;
}

.submit {
right: 0px;
margin-right: 3%;
}